<div class="menu_container">
    <div class="collapse_icon">
        <a (click)="toggleMenu()">
            <i class="glyphicon glyphicon-align-justify"></i>
        </a>
    </div>
    <div>
        <ul class="menu_list">
            <li *ngFor="let i of [1,2,3,4,5,6,7,8,9]" class="menu">
                <a href="">
                    <i class="glyphicon glyphicon-home">
                <span class="menu_text">
                    Home
                </span>
              </i>
                </a>


            </li>
        </ul>
    </div>

</div>