<div class="menu_container">
    <div class="collapse_icon">
        <a (click)="toggleMenu()">
            <i class="glyphicon glyphicon-align-justify"></i>
        </a>
    </div>
    <div>
        <ul class="menu_list">
            <li class="menu">
                <a href="">
                    <i class="glyphicon glyphicon-home">
                        <span class="menu_text">
                            Home
                        </span>
                    </i>
                </a>
            </li>
            <li class="menu">
                <a href="">
                    <i class="glyphicon glyphicon-home">
                        <span class="menu_text">
                            Student
                        </span>
                    </i>
                </a>
            </li>
            <li class="menu">
                <a href="">
                    <i class="glyphicon glyphicon-home">
                        <span class="menu_text">
                            Test
                        </span>
                    </i>
                </a>
            </li>
            <li class="menu">
                <a href="">
                    <i class="glyphicon glyphicon-home">
                        <span class="menu_text">
                            Batch
                        </span>
                    </i>
                </a>
            </li>
        </ul>
    </div>

</div>