<!-- <input auto-complete [source]="stateResult" type="text" name="state" [(ngModel)]="state" placeholder="Enter State" (keyup)="getState()">
<span>SelecetdValue ---- {{state}}</span><br>

<input auto-complete [source]="cityResult" type="text" name="city" [(ngModel)]="city" placeholder="Enter City" (keyup)="getCity()">
<span>SelecetdCity ---- {{city}}</span><br>


<input auto-complete [source]="localityResult" type="text" name="locality" [(ngModel)]="locality" placeholder="Enter Locality" (keyup)="getLocality()">

<span>SelecetdLocality ---- {{locality}}</span><br> -->

<div class="custom_container">
    <div class="nav_bar">
        <app-navbar></app-navbar>
    </div>
    <div class="main_content">
        <div class="header_holder">
            <app-top-header></app-top-header>
        </div>
        <div class="main_holder pd_15">
            <app-home></app-home>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>

</div>