<div class="table_holder">
    <div class="table-responsive pd_15">
        <div>

            <!-- <div>

                <input type="text" name="search" placeholder="Search..">

            </div> -->
            <div class="pd_btm_5">
                <button class="btn btn-primary">Add New</button>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Category Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        <button class="btn btn-danger">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                    </td>
                </tr>
                <tr>
                    <td>Vegetables</td>
                    <td>Active</td>
                    <td>

                        <button class="btn btn-info">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                        <button class="btn btn-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>