<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Category Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vegetables</td>
                <td>Active</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Vegetables</td>
                <td>Active</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Vegetables</td>
                <td>Active</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Vegetables</td>
                <td>Active</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>
</div>